body {
    color: #555;
    margin: 0;
    padding: 0;
    font: 13px/18px "Helvetica Neue", "HelveticaNeue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
div, p {
    margin: 0;
    padding: 0;
}

footer {
    clear: both;
    text-align: right;
    line-height: 15px;
    color: #fff;
    font-weight: bold;
}

#Canvas {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}


/** Heart Style **/
.heart {
    position: relative;
    width: 100px;
    height: 90px;
}

.heart:before,
.heart:after {
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: red;
    -moz-border-radius:50px 50px 0 0;
    border-radius:50px 50px 0 0;
    -webkit-transform:rotate( -45deg );
    -moz-transform:rotate( -45deg );
    -ms-transform:rotate( -45deg );
    -o-transform:rotate( -45deg );
    transform:rotate( -45deg );

    -webkit-transform-origin:0 100%;
    -moz-transform-origin:0 100%;
    -ms-transform-origin:0 100%;
    -o-transform-origin:0 100%;
    transform-origin:0 100%;
}

.heart:after {
    left: 0;
    -webkit-transform:rotate( 45deg );
    -moz-transform:rotate( 45deg );
    -ms-transform:rotate( 45deg );
    -o-transform:rotate( 45deg );
    transform:rotate( 45deg );

    -webkit-transform-origin:100% 100%;
    -moz-transform-origin:100% 100%;
    -ms-transform-origin:100% 100%;
    -o-transform-origin:100% 100%;
    transform-origin:100% 100%;
}